@charset "utf-8";
/* CSS Document */
html,body { height:100%;}
body { background:#def3ff url(../images/bg_menu_jb.gif) repeat 0 0;}

.menutit, .box_menu { margin:0 auto;}
.box_menu {
  width:200px;
  height:100%;
  border-top:1px solid #fff;
  border-right:1px solid #013f82;
  margin-bottom:10px;
  background:url(../images/bg_logo.gif) no-repeat center bottom;
}
h3.menutit {
  background:url(../images/bg_menu_tit.gif) no-repeat left 0;
  border:1px solid #0799d9;
  margin-top:5px;
  padding-left:25px;
  width:140px;
  height:25px;
  line-height:25px;
  font-size:13px;
  color:#fff;
  cursor:pointer;
}


